@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  font-family: Poppins;
}

h1 {
  color: #3299ef;
  margin-bottom: 0.75rem;
}

a {
  color: #3299ef;
}

button {
  background-color: #3299ef;
  color: rgb(123, 31, 31);
  border: 0;
  border-radius: 10px;
  padding: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  font-family: Poppins;
}

h1 {
  color: #3299ef;
  margin-bottom: 0.75rem;
}

a {
  color: #3299ef;
}

button {
  background-color: #3299ef;
  color: rgb(123, 31, 31);
  border: 0;
  border-radius: 10px;
  padding: 0.75rem;
}

.error {
  color: #d32752;
  border-color: #d32752;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 10px;
  border-width: 1px;
}

.notificaiton {
  color: #f7b84b;
  border-color: #f7b84b;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0.75rem;
  margin: 0.75rem;
}