//thema colors
$primary: #3299ef;
$second: #ececec;
$danger:#d32752;
$warning : #f7b84b;
$success: #1ac888;


//spacing
$base-padding : 0.75rem;
$base-margin : 0.75rem;

//border

$base-border-thickness:1px;
$base-border-radius:10px;
